/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* BASICS */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body { background: #353535 }
body, div {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
}

::-webkit-scrollbar { display: none }
::scrollbar { display: none }

.clear    { clear: both }
.relative { position: relative }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* LOGO */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#eon-spark-logo {
    background: transparent url(eon-spark-logo.png);
    width: 100%;
    height: 270px;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* TRAFFIC SPARK */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#traffic {
    background: #f5e2c8;
    width: 100%;
    height: 270px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* OTHER SPARKS */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#one, #two, #three {
    background: #2f243a;
    width: 100%;
    height: 100px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* SPARK LINES */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
line.cotton {
    stroke: #f56476;
    stroke-width: 1.0%;
    stroke-dasharray: 9 2 400;
    animation: traffic 8.0s linear 0s infinite;
}

line.fancy {
    stroke: #f56476;
    stroke-width: 0.6%;
    stroke-dasharray: 2 2 400;
    animation: highway 10.5s linear 0s infinite;
}

@keyframes traffic {
    0%   { }
    70%  { transform: translateY(200px) }
    90%  { stroke: #119da4 }
    100% { }
}

@keyframes highway {
    0%   { }
    50%  { transform: translateZ(-80px) }
    70%  { transform: translateY(80px) }
    90%  { stroke: #f5e2c8 }
    100% { }
}
